* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #D6D1C5;
}

*::selection {
    color: #D6D1C5;
    background-color: black;
}

hr {
    width: calc(100% - 100px);
    height: 2px;
    background-color: #D6D1C5;
    border: none;
    margin: 10px 10px;
}

#main {
    width: 100%;
    background-color: #D6D1C5;
}

#home {
    background-color: #D6D1C5;
    width: 100%;
    min-height: 100vh;
}

#nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nav {
    display: flex;
    width: 100%;
    padding: 2vw 4vw;
    height: 50px;
    justify-content: center;
    align-items: center;
}

#home hr {
    width: calc(100% - 100px);
    height: 2px;
    background-color: #706751;
    border: none;
    margin-top: 30px;
    margin-bottom: 10px;
}

#nav p {
    height: inherit;
    font-size: 4vw;
    font-weight: bold;
    color: #706751;
    text-align: center;
    margin-top: 10px;
    text-transform: uppercase;
}

#nav2 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

#nav2 a {
    color: #706751;
    font-size: 1.1vw;
    font-weight: 600;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

#nav2 a:hover {
    color: black;
}

#nav2 a:after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease;
}

#nav2 a:hover:after {
    width: 100%;
}


#homemain {
    display: flex;
    padding: 0 5vw;
    height: 100vh;
    border-bottom: 1px solid #706751;
}

#homecontent {
    position: absolute;
    margin-top: 6vh;
}

#homemain h1 {
    font-family: 'Caveat', cursive;
    font-size: 5vw;
    font-weight: 400;
    color: #706751;
}

#homemain h2 {
    font-family: 'Caveat', cursive;
    font-size: 5vw;
    font-weight: 400;
    margin-left: 5vw;
    color: #706751;
}

#homemain h1 span {
    font-family: 'Caveat', cursive;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 5vw;
    font-weight: 500;
    letter-spacing: -4px;
    color: black;
}

#homemain h2 span {
    font-family: 'Caveat', cursive;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 5vw;
    font-weight: 500;
    letter-spacing: -4px;
    color: black;
}

#homemain h3 {
    margin-top: 10vh;
    font-size: 2vw;
    width: 50%;
    font-weight: 100;
    margin-left: 5vw;
    color: #706751;
    margin-left: 13vw;
}

#homemain .left {
    /* background-color: red; */
    width: 25vw;
    height: 35vw;
    object-fit: cover;
    object-position: center;
    margin-top: 85px;
    margin-left: 70vw;
    margin-right: 5vw;

}

#homemain .right {
    width: 10vw;
    height: 10vw;
    object-fit: cover;
    object-position: center;
    margin-right: 15vw;
    margin-top: -7vw;

}

#homeimg {
    display: flex;
    justify-content: space-between;
    object-fit: cover;
    object-position: center;

}

#homemain .btn {
    text-decoration: none;
    font-size: 2vw;
    margin-left: 25vw;
    padding: 10px 2.5vw;
    border: 1px solid #706751;
    border-radius: 70px;
    font-weight: 100;
    color: #f1eeeb;
    background-color: #000;
}

#homemain .btn img.btnimage {
    height: 25px;
    width: 35px;
    margin-left: 10px;
    margin-top: 20px;
    filter: invert(100%);
}

#page2 {
    display: flex;
    padding: 0 5vw;
    height: 60vh;
    border-bottom: 1px solid #706751;
}

#page2 #about h1 {
    width: 20vw;
    font-family: 'Caveat', cursive;
    font-size: 5vw;
    font-weight: 400;
    color: #706751;
    margin-top: 7vh;
}

#page2 #about span {
    font-family: 'Caveat', cursive;
    font-family: 'Open Sans', sans-serif;
    font-size: 5vw;
    font-weight: 400;
    color: black;
    margin-top: 7vh;
    letter-spacing: -6px;
    text-transform: uppercase;
}

#aboutcontainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 2vw;
}

#page2 #aboutcontent {
    display: flex;
    flex-direction: column;
    margin-bottom: 9vh;
}

#page2 #aboutcontent h1 {
    font-size: 2vw;
    font-weight: 70;
    padding: 0 1vw;
    margin-top: 7vh;
    margin-left: 20vw;
    color: #706751;
}

#page2 #aboutbtn a {
    align-items: center;
    justify-self: center;
    margin-top: 5vh;
    margin-left: 21vw;
    text-decoration: none;
    font-size: 1.8vw;
    padding: 0.5vw 3vw;
    border: 3px solid #000000;
    border-radius: 70px;
    font-weight: 600;
    color: #000;
    background-color: #D6D1C5;
}

.download {
    height: 25px;
    width: 35px;
    margin-left: 4px;
    margin-top: 15px;
}

.download:hover {
    filter: invert(100%);
}

#page2 #aboutcontainer a:hover {
    background-color: black;
    color: #D6D1C5;
}

#page3 {
    display: flex;
    padding: 0 5vw;
    height: 40vh;
    border-bottom: 1px solid #706751;
}

#page3 #skills h1 {
    width: 25vw;
    font-family: 'Caveat', cursive;
    font-size: 5vw;
    font-weight: 400;
    color: #706751;
    margin-top: 7vh;
}

#page3 #skills span {
    font-family: 'Caveat', cursive;
    font-family: 'Open Sans', sans-serif;
    font-size: 5vw;
    font-weight: 400;
    color: black;
    margin-top: 7vh;
    letter-spacing: -6px;
    text-transform: uppercase;
}

#page3 #skillscontent {
    margin-left: 12vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

}

#page3 #skillscontent a {
    margin-left: 1vw;
    width: 70px;
    background-color: #D6D1C5;
    padding: 10px;
    border-radius: 50%;
}

#page3 #skillscontent img {
    color: #D6D1C5;
    width: 70px;
    height: 70px;
    filter: saturate(3);
}

#page4 {
    padding: 0 5vw;
}

#page4 #projects h1 {
    width: 35vw;
    font-family: 'Caveat', cursive;
    font-size: 5vw;
    font-weight: 400;
    color: #706751;
    margin-top: 7vh;
}

#page4 #projects span {
    font-family: 'Caveat', cursive;
    font-family: 'Open Sans', sans-serif;
    font-size: 5vw;
    font-weight: 400;
    color: black;
    margin-top: 7vh;
    /* letter-spacing: -6px; */
    text-transform: uppercase;
}

#work {
    display: flex;
    flex-direction: column;
    margin-top: 4vh;
}

#work h1 {
    font-family: 'Caveat', cursive;
    font-size: 3vw;
    font-weight: 400;
    color: #706751;
}

#work span {
    font-family: 'Caveat', cursive;
    font-family: 'Open Sans', sans-serif;
    font-size: 3vw;
    font-weight: 400;
    color: black;
    /* letter-spacing: -2px; */
    text-transform: uppercase;
}

#work .workcontent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5vh;
    padding: 2vw 0;
    border-bottom: 2px solid #706751;
}

.page4btn {
    margin-left: auto;
}

.page4btn a {
    text-decoration: none;
    font-size: 1.8vw;
    padding: 0.5vw 3vw;
    border: 2px solid #000000;
    border-radius: 70px;
    font-weight: 500;
    color: #000;
    background-color: #D6D1C5;
}

.page4btn a:hover {
    background-color: black;
    color: #D6D1C5;
}

.workbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vw;
    margin-bottom: 5vw;
}

#page4 .workbtn a {
    text-decoration: none;
    font-size: 1.8vw;
    padding: 0.5vw 3vw;
    border: 3px solid #000000;
    border-radius: 70px;
    font-weight: 600;
    color: #000;
    background-color: #D6D1C5;
}

#page4 .workbtn a:hover {
    background-color: black;
    color: #D6D1C5;
}

#page5 {
    padding: 0 5vw;
    margin-top: 2vh;
    border-bottom: 1px solid #706751;
}

#page5 #education {
    display: flex;
}

#page5 #education h1 {
    font-family: 'Caveat', cursive;
    font-size: 5vw;
    font-weight: 400;
    color: #706751;
    text-align: center;
    margin-top: 4vh;
}

#page5 #education span {
    font-family: 'Caveat', cursive;
    font-family: 'Open Sans', sans-serif;
    font-size: 5vw;
    font-weight: 400;
    color: black;
    letter-spacing: -4px;
    text-transform: uppercase;
}

.timeline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 4vw;
    margin-left: 15vw;
    margin-bottom: 2vw;
}

.event {
    display: flex;
    align-items: center;
    margin-bottom: 2vw;
    position: relative;
}

.date {
    font-family: 'Caveat', cursive;
    font-family: 'Open Sans', sans-serif;
    font-size: 2vw;
    font-weight: 600;
    color: #706751;
    margin-right: 20px;
}

.description {
    max-width: 500px;
}

.description h2 {
    font-family: 'Caveat', cursive;
    font-size: 3vw;
    font-weight: 400;
    color: #706751;
}

.description p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8vw;
    color: black;
}

#page6 {
    height: 95vh;
    display: flex;
    flex-direction: column;
    line-height: 0.9;
    padding: 0 5vw;
    background-color: #EDA734;
}

#connectcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    height: 80vh;
    border-bottom: 2px solid #000;
}

#page6 #connect h1 {
    font-family: 'Caveat', cursive;
    font-size: 10vw; 
    font-weight: 400;
    color: #fff;
    text-align: center;
    margin-top: 15vh;
}

#page6 #connect h2 {
    font-family: 'Caveat', cursive;
    font-family: 'Open Sans', sans-serif;
    font-size: 6vw; 
    font-weight: 400;
    color: #fff;
    letter-spacing: -2px; 
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15vh;
}

#connectbtn a {
    text-decoration: none;
    font-size: 2vw; 
    padding: 0.8vw 4vw; 
    border: 3px solid #000000;
    border-radius: 70px;
    font-weight: 600;
    color: #D6D1C5;
    background-color: #000;
    margin-bottom: 18vh;
}

#page7 {
    height: 10vh;
    display: flex;
    flex-direction: column;
    line-height: 0.9;
    padding: 0 5vw;
    background-color: #EDA734;
}

#social {
    display: flex;
    justify-content: space-between;
    padding: 0 5vw;
}

#social a {
    text-decoration: none;
    font-size: 1vw; 
    padding: 0.8vw 4vw; 
    border: 3px solid #000000;
    text-transform: capitalize;
    border-radius: 70px;
    font-weight: 600;
    color: #000;
}

